footer {
    background-color: var(--ThemeVine);
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: calc(100% - 1em);
    height: 3em;
    align-content: center;
}

footer#not {
    text-align: center;
}