@font-face {
  font-family: "Libre-Caslon-Text-Regular";
  src: url("./assets/fonts/LibreCaslonText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Libre-Caslon-Text-Bold";
  src: url("./assets/fonts/LibreCaslonText-Bold.ttf") format("truetype");
}

:root {
  --px6: 0.375em;
  --px12: 0.75em;
  --px24: 1.5em;

  --ThemeColor: #FFFFFF;
  --ThemeVine: #66001B;
  --ThemeAction: #DCB58C;
  --ThemeText: #000000;
}

body {
  margin: 0;
  font-family: 'Libre-Caslon-Text-Regular';
  color: var(--ThemeText);
}

h1 {
  font-size: 1.5em;
  font-family: 'Libre-Caslon-Text-Bold';
  margin: 0em;
}

p,
label {
  font-size: 0.93em;
}

input,
textarea {
  font-size: 1em;
  font-family: 'Libre-Caslon-Text-Regular';
  border: 0.1em solid #000;
  border-radius: 0.37em; 
  padding: 0.25em 0.5em;
  margin-left: -2%;
  width: 99.5%;
}

textarea {
  min-height: 5em;
}

select {
  font-size: 1em;
  font-family: 'Libre-Caslon-Text-Regular';
  border: 0.1em solid #000;
  border-radius: 0.37em; 
  padding: 0.25em;
  width: 100%;
  background-color: white;
}

.textVine {
  color: var(--ThemeVine);
}

button {
  font-family: 'Libre-Caslon-Text-Bold';
  cursor: pointer;
  font-size: 1.25em;
}

button p {
  margin: 0;
}